*{
  font-family: 'Helvetica', Arial, sans-serif;
}

.about-service-section {
  padding: 50px 20px;
}

.about-service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px;
}

.about-service-text {
  flex: 1 1 500px;
  max-width: 600px;
}

.about-service-text h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #2b2b2b;
  margin-bottom: 20px;
}

.about-service-text p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
  font-family: 'Helvetica', Arial, sans-serif;
}

.service-list {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.service-list li {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}

.about-service-image {
  flex: 1 1 400px;
  text-align: center;
}

.about-service-image img {
  max-width: 100%;
  height: 85vh;
  border-radius: 20px;
  box-shadow: 18px 20px rgba(0, 0, 0, 0.15);
}

/* Responsive Design */
@media (max-width: 992px) {
  .about-service-container {
    flex-direction: column;
    text-align: center;
  }

  .about-service-text,
  .about-service-image {
    max-width: 100%;
    text-align: center;
  }

  .service-list {
    list-style-position: inside;
    padding-left: 0;
  }

  .service-list li {
    text-align: center;
  }

  .about-service-text h2 {
    font-size: 2rem;
  }

  .about-service-text p,
  .service-list li {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .about-service-text h2 {
    font-size: 1.6rem;
  }

  .about-service-text p,
  .service-list li {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px){
  .about-service-section {
    padding: 10px 5px;
  }

  .about-service-text {
  flex: 1 1 380px;
}
}

