.banner-section-about {
  background-image: url('/public/images/about.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-title-about {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  font-family: Open Sans, Arial, sans-serif;
}

/* about Section */
.about-section {
  padding: 50px 15%;
  background-color: white;
}
.about-section p{
  font-family: Open Sans, Arial, sans-serif;
  line-height: 35px;
}
.about-block {
  margin-bottom: 30px;
}

.about-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'IBM Plex Serif', Georgia, "Times New Roman", serif;
}

.about-text {
  font-size: 1rem;
  font-family: Open Sans, Arial, sans-serif;
  margin-bottom: 20px;

}

/* Highlight Bold Text */
.about-text b {
  font-weight: bold;
  color: black;
}

.why-us {
  padding: 30px 20px;
  background-color: #ffffff;
 
}

.why-us-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  
}

.section-title h2 {
  font-size: 36px;
  color: #333;
  font-family: 'IBM Plex Serif', Georgia, "Times New Roman", serif;
}

.section-title h2 span {
  color: #ff7f50;
}

.section-title p {
  font-size: 18px;
  color: #777;
  margin: 0 auto;
  max-width: 600px;
  font-family: Open Sans, Arial, sans-serif;
}

.why-us-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  flex: 1;
  min-width: 300px;
  padding: 30px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.box:hover {
  background: #ff7f50;
  color: #fff;
}

.box span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #fff;
  color: #ff7f50;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
  transition: background 0.3s, color 0.3s;
}

.box:hover span {
  background: #fff;
  color: #ff7f50;
}

.box h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: 'IBM Plex Serif', Georgia, "Times New Roman", serif;
}

.box p {
  font-size: 14px;
  line-height: 24px;
  font-family: Open Sans, Arial, sans-serif;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
  }

  .about-image {
    min-height: 250px;
  }

  .why-us-boxes {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .about-content h3 {
    font-size: 1.8rem;
  }

  .about-content p {
    font-size: 1rem;
  }

  .section-title h2 {
    font-size: 28px;
  }

  .section-title p {
    font-size: 14px;
  }

  .box span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }

  .box h4 {
    font-size: 20px;
  }

  .box p {
    font-size: 13px;
  }
}