
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* src/App.css */

#hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.312), hsla(0, 0%, 0%, 0.449)),url('/public/images/amdback.jpg');
    background-size: cover;       
  background-repeat: no-repeat; 
  background-attachment: scroll; 
  background-position: center;  
    
  /* font-family: "junction"; */

  }
  
 
  @media (max-width:768px) {
    #hero{
      height: 50vh;
    }
  }
  .hero-container {
    width: 100%;
    height: 100%;
  }
  
  .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .carousel-item.active {
    opacity: 1;
  }
  .carousel-content {
    max-width: 800px;
    padding: 20px;
    /* background: rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
  }
  
  .carousel-content h3 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #fff;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 500;
  }

  .carousel-content p {
    font-size: 16px;
    margin-bottom: 30px;
    font-family: Open Sans, Arial, sans-serif;
    color: #ffffff;
    font-weight: 500;

  }
  
  .btn-menu,
  .btn-book {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'IBM Plex Serif', Georgia, "Times New Roman", serif;
  }
  
  .btn-menu {
    /* background-color: transparent;
    border: 2px solid blue; */
    color: #fff;
    border-radius: 50px;
    
  }
  
  .btn-menu:hover {
    background-color: #ff5722;
  }
  
  .btn-book {
    /* background-color: transparent;
    border: 2px solid blue; */
    color: #fff;
    border-radius: 50px;
  }
  
  .btn-book:hover {
    background-color: #ff5722;
  }
  
  @media (max-width: 768px) {
   
  
    .carousel-content p {
      font-size: 1rem;
    }
  
    .btn-menu,
    .btn-book {
      font-size: 1rem;
      padding: 8px 16px;
    }

  }
  

  
