/* Main Container */
.amddas-corporate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CCC096; /* Light beige background */
    /* padding: 50px; */
    flex-wrap: wrap; /* Ensures responsiveness for smaller screens */
    gap: 20px; /* Space between image and text */
  }
 
  /* Left Section: Image */
  .amddas-corporate-image img {
    width: 100%;
    max-width: 600px; /* Limit image width */
    height: auto;
    border-radius: 0; /* Slightly rounded corners */
    object-fit: cover;
    padding-bottom: 50px;
   
  }
  
  /* Right Section: Content */
  .amddas-corporate-content {
    flex: 1;
    text-align: center;
    max-width: 1000px; /* Keep the text content responsive */
    padding: 0px 50px;
    padding-bottom: 50px;
  }
  
  .corporate-title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
   text-align: center;
    color: #333;

  }
  
  .corporate-description {
   
    margin-bottom: 30px; /* Space below the description */
    font-family: Open Sans, Arial, sans-serif;
    font-size: 14px;
    color: #666;
  }
  
  /* Button */
  .corporate-button {
    padding: 12px 24px;
    font-size: 20px;
   
    color: white;
    background-color: #ff4500; /* Bright orange color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .corporate-button:hover {
    background-color: #e03d00;
    transform: translateY(-2px); 
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .amddas-corporate-container {
      flex-direction: column; /* Stack image and text vertically */
      text-align: center; /* Center-align text on smaller screens */
    }
  
    .amddas-corporate-image img {
      max-width: 100%; /* Make the image take full width */
      
    }
    .amddas-corporate-image{
        width: 100%;
    }
  
    .amddas-corporate-content {
      max-width: 100%; /* Make text content take full width */
     
    }
  
    .corporate-title {
      font-size: 2rem; /* Reduce title size for smaller screens */
    }
  
    .corporate-description {
      font-size: 1rem; /* Reduce description size */
    }
  }
  