
  
.body{
    font-family: Open Sans, Arial, sans-serif;
  }
    /* Main Container */
  .our-story-main-container {
    
    color: #333;
  }
  
  /* Banner offsitemain */
  .banner-offsitemain {
    background-image:linear-gradient(hsla(0, 0%, 0%, 0.303), hsla(0, 0%, 0%, 0.407)),  url("/public/images/offsitebanner.jpg");
    background-size: cover;
    background-position:center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-title {
    color: white;
    font-size: 48px;
    font-weight: 400;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    font-family: 'IBM Plex Serif', Georgia, "Times New Roman", serif;
    text-align: center;
    line-height: 48px;
  }
  @media (max-width:768px) {
    .banner-offsitemain{
      height: 200px;
    }
    .banner-title {
     
      font-size: 40px;
    
      
    }
  }
 
  
  /* offsitemain offsitemain */
  .offsitemain-offsitemain {
    padding: 50px 15%;
    background-color: white;
  }
  .offsitemain-offsitemain p{
    font-family: Open Sans, Arial, sans-serif;
    line-height: 36px;
    font-size: 16px;
  }
  .offsitemain-block {
    margin-bottom: 30px;
  }
  
  .offsitemain-block h2 {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'IBM Plex Serif', Georgia, 'Times New Roman', serif;
    color: #333333;
  }
  .offsitemain-block h3{
    font-weight: 400;
  }
  .offsitemain-text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  /* Highlight Bold Text */
  .offsitemain-text b {
    font-weight: bold;
    color: black;
  }
  